@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  /* font-family: 'Pretendard', 'Apple SD Gothic Neo', Sans-serif !important; */
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 500;
  box-sizing: border-box;

  word-break: break-word;

  /* word-break: keep-all; */
}

html {
  font-size: 16px;
  background-color: #f9f9fa;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
